.Home {
  min-height: 100vh;
  text-align: center;
  width: 100%;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 50px;
  flex-wrap: wrap;
}
.Home p {
  z-index: 1;
}
.myimg {
  width: 150px;
  /* position: absolute; */
  z-index: 10;
}
.img-2 {
  width: 150px;
  position: absolute;
}
.img-3 {
  width: 150px;
  position: absolute;
}
.img-4 {
  width: 150px;
  position: absolute;
}
/* .myimg-holder:hover { */
  .myimg {
    filter: drop-shadow(2px 0px 0px white);
  }
  .img-2 {
    filter: drop-shadow(-2px 0px 0px white);
  }
  .img-3 {
    filter: drop-shadow(-2px -2px 0px white);
  }
  .img-4 {
    filter: drop-shadow(2px -2px 0px white);
  }

.myimg-holder{
  position: relative;
}
.profile-bg {
  left: 0;
  width: 350px;
  /* height: 100%; */
  /* z-index: 1; */
  position: absolute;
}
.profile {
  width: 300px;
  position: relative;
}
.my-info {
  margin: 10px;
  height: 100%;
  /* background-image: url("../../Assets/future.jpg");
  background-repeat: no-repeat; */
  z-index: 1;
  flex-grow: 1;
  /* text-align: left; */
  display: flex;
  /* justify-content: center; */
  padding: 10px;

  /* background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 73%, rgba(0,212,255,1) 100%); */
}
.info {
  /* background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 73%, rgba(0,0,0,1) 100%); */
  
  /* background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 73%, rgba(0,0,0,1) 100%); */
padding: 10px;
  max-width: 700px;
  text-align: left;
}
.social {
  display: absolute;
  z-index: 2;
  color: white;
  
}
.bg{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
@media screen and (max-width:480px) {
  .Home{
    padding: 20px 0px;
  }
}
.social-icon{
  color: white;
  padding: 2px;
  font-size: 25px;
}
.social-icon:hover{
  transform: translateY(-2px);
  padding: 2px;
  font-size: 25px;
}